<div class="center jumbotron">
  <h1>Welcome to the Musique</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">DTM</a>
    sample application.
  </h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <div>
        <h4>カテゴリー</h4>
        <% @categories.each do |category| %>
          <%= link_to categories_path(name: category.name), class: "me-3" do %>
            <i class="fas fa-tag"></i>
            <%= category.name %>
          <% end %>
        <% end %>
      </div>

      <div class="sidebar-ads">
        <div class="ad-box box-1">
          <p>広告サンプル</p>
        </div>
        <div class="ad-box box-2">
          <p>広告サンプル</p>
        </div>
      </div>
    </aside>
    <div class="col-md-8">
      <div class="following-posts">
        <% if logged_in? %>
          <h3>
            フォローしているユーザーの記事
            <small class="ms-3">(新着順 10件)</small>
          </h3>
          <% if @following_users_posts.any? %>
            <ol class="list-unstyled">
              <%= render "shared/following_users_post" %>
            </ol>
          <% else %>
            <hr class="my-5">
            <p>
              フォローしているユーザーはまだいません。
              興味のある記事の投稿者を積極的にフォローしてみよう！
            </p>
          <% end %>
        <% end %>
      </div>

      <div class="popular-posts">
        <h3>
          ストック数の多い人気記事
          <small class="ms-3">(ストック数順 10件)</small>
        </h3>
        <ol class="list-unstyled">
          <%= render "shared/popular_post" %>
        </ol>
      </div>
    </div>
  </div>
<% end %>
