<% provide(:title, "新規登録") %>

<div class="row">
  <div class="col-md-7 m-auto">
    <h2>新規登録</h2>

    <%= form_with(model: @user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">30文字以内</small>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">例：user@example.com</small>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">半角英数字混合８文字以上</small>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">半角英数字混合８文字以上</small>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.label :image, "アイコン画像", class: "form-label fw-bold" %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
                               onchange: "avatarImage(this);",
                               class: "mb-3"
      %>

      <div id="image">
        <img id="image_preview" class="mb-3" width="300">
      </div>

      <div class="float-end">
        <%= f.submit "登録する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!------ プレビュー表示用JS ------->
<script>
  function avatarImage(obj){
      var fileReader = new FileReader();
      fileReader.onload = (function() {
        document.getElementById('image_preview').src = fileReader.result;
      });
      fileReader.readAsDataURL(obj.files[0]);
  }
</script>
