<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="user-section">
      <section class="user_info">
        <h1 class="text-center mb-5"><%= @user.name %></h1>
        <%= image_tag @user.image.attached? ? @user.image : "default_icon.png",
                      class: "rounded mx-auto d-block mb-3",
                      size: "200x200",
                      alt: "アイコン画像"
        %>
      </section>

      <section class="stats p-0 mt-0">
        <%= render "shared/follow_stats" %>
      </section>

      <section class="follow-and-unfollow">
        <%= render "follow_form" if logged_in? %>
      </section>
    </div>
  </aside>

  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.where(is_draft: false).count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
