<% provide(:title, "新規投稿") %>
<h1>新規投稿</h1>

<div class="row">
  <div class="col-md-10 m-auto">
    <%= form_with(model: @post, url: posts_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title, "タイトル" %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">下書き時のみ空白可</small>
      <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力" %>

      <%= f.label :content, "記事本文" %>
      <span class="badge bg-danger">必須</span>
      <small class="text-muted">下書き時のみ空白可</small>
      <%= f.rich_text_area :content, placeholder: "音楽に関わる知識を書いて、自身で読み返すためにまとめたり共有しよう！" %>

      <div class="categories mt-5 mb-5">
        <%= f.label :category, "カテゴリー" %>
        <small class="text-muted">複数選択可</small>
        <div class="category-items">
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <%= category.label class: "me-2" do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="float-end">
        <%= f.submit "公開する", name: "publish", class: "btn btn-primary me-3" %>
        <%= f.submit "下書き保存", name: "draft", class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
