<% provide(:title, "新規投稿") %>
<h1>新規投稿</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_with(model: @post, url: posts_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力" %>

      <%= f.label :content %>
      <%= f.rich_text_area :content, placeholder: "本文を入力" %>

      <%= f.submit "公開する", name: "publish", class: "btn btn-primary" %>
      <%= f.submit "下書き保存", name: "draft", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
