<% provide(:title, @post.title) %>

<div class="post-show row">
  <%= render "users/user_info_side" %>

  <div class="col-md-8 py-5">
    <div class="post-information d-flex">
      <div class="user-image-link">
        <%= link_to @user do %>
          <%= image_tag @user.image.attached? ? @user.image : "default_icon.png",
              size: "70x70", alt: "アイコン画像", class: "post-image float-start me-3" %>
        <% end %>
      </div>
      <div class="post-details">
        <span class="user-name d-block py-3"><%= link_to @user.name, @user %></span>
        <span class="post-created-at py-2 me-5">投稿日 : <%= l @post.created_at %></span>
        <span class="post-updated-at py-2">最終更新日 : <%= l @post.updated_at %></span>
      </div>
    </div>

    <div class="tags py-3 mb-4 border-bottom">
      <i class="fas fa-tag me-3"></i>
      <% if @post.categories.any? %>
        <% @post.categories.each do |category| %>
          <%= link_to category.name, "/categories?name=#{category.name}" %>
        <% end %>
      <% else %>
        <small>関連カテゴリー未設定</small>
      <% end %>
    </div>

    <h2 class="text-start"><%= @post.title %></h2>
    <%= @post.content %>

    <div id="post-<%= @post.id %>" class="my-5 float-end">
      <%= render partial: "stocks/stock", locals: { post: @post } %>
    </div>
  </div>
</div>
