<% provide(:title, @post.title) %>

<p>
  Title: <%= @post.title %>
</p>

<p>
  Content: <%= @post.content %>
</p>

<span>カテゴリー</span>
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<div id="post-<%= @post.id %>">
    <%= render partial: "stocks/stock", locals: { post: @post } %>
</div>
