<div class="container">
  <footer class="row row-cols-4 py-5 my-5 border-top">
    <div class="col footer-logo">
      <%= link_to "Musique", root_path, class: "logo" %>
      <p class="text-body-secondary">
        Copyright © MUSIQUE <%= Date.current.year %> All Rights Reserved.
      </p>
    </div>

    <div class="col"></div>

    <div class="col">
      <h4>ガイド</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <%= link_to "About", about_path, class: "nav-link p-0 text-body-secondary"%>
        </li>
        <li class="nav-item mb-2">
          <%= link_to "利用規約", terms_path, class: "nav-link p-0 text-body-secondary"%>
        </li>
        <li class="nav-item mb-2">
          <%= link_to "プライバシーポリシー", privacy_path, class: "nav-link p-0 text-body-secondary"%>
        </li>
        <li class="nav-item mb-2">
          <%= link_to "ヘルプ", help_path, class: "nav-link p-0 text-body-secondary"%>
        </li>
        <li class="nav-item mb-2">
          <%= link_to "お問い合わせ", contact_path, class: "nav-link p-0 text-body-secondary" %>
        </li>
      </ul>
    </div>

    <div class="col">
      <h4>運営</h4>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <%= link_to "会社情報", company_path, class: "nav-link p-0 text-body-secondary" %>
        </li>
        <li class="nav-item mb-2">
          <%= link_to "採用情報", jobs_path, class: "nav-link p-0 text-body-secondary" %>
        </li>
      </ul>
    </div>
  </footer>
</div>
